.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #555555;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  background-color: transparent;
}

.container {
  padding: 0 31px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 39px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 15px;
  }
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.subtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.gallery .subtitle {
  margin-bottom: 44px;
}

.subtitle::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
}

.subtitle-dark-theme {
  color: #9da4bd;
}

.subtitle-dark-theme::before {
  background-color: #9da4bd;
}

.subtitle-light-theme {
  color: #555555;
}

.subtitle-light-theme::before {
  background-color: #555555;
}

.description {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
}

.about-right-side .description {
  margin-bottom: 20px;
}

.advantages-right-side .description {
  padding-right: 100px;
}

.hero .description {
  width: 400px;
}

.description-dark-theme {
  color: #9da4bd;
}

.description-light-theme {
  color: #555555;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
}

.about-right-side .title,
.advantages-right-side .title {
  margin-bottom: 20px;
}

.contact .title,
.contact-form-section .title {
  margin-bottom: 40px;
}

.masters .title,
.services .title {
  margin-bottom: 44px;
}

.title-dark-theme {
  color: #fff;
}

.title-light-theme {
  color: #303030;
}

.modal-btn {
  width: 194px;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  transition: all 250ms linear;
}

.modal-btn:hover, .modal-btn:focus {
  background-color: #ff6c00;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .header-utils .modal-btn {
    color: #303030;
  }
}

@media screen and (min-width: 768px) {
  .modal-btn {
    width: 160px;
    padding: 12px 14px;
  }
  .header .modal-btn {
    margin-bottom: 20px;
  }
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  flex-shrink: 0;
  margin-right: 40px;
}

.hero .social-links {
  transform: rotate(-90deg);
  transform-origin: left;
}

.social-links-item {
  flex-shrink: 0;
}

.social-links-item:not(:last-child) {
  margin-right: 40px;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 250ms linear;
}

.social-link:hover, .social-link:focus {
  color: #ff6c00;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms linear 500ms;
}

.modal {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%) scale(1);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0 40px;
  padding-top: 75px;
  transition: transform 500ms linear 250ms;
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) scale(0);
  transition: transform 500ms linear 0s;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input:focus,
.modal-form-message:focus {
  outline: none;
}

.modal-form-field {
  position: relative;
  margin-bottom: 40px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form-input:focus {
  background-color: blue;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  background-color: tomato;
}

.modal-form-input:focus ~ .modal-form-icon {
  background-color: teal;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}

.modal-form-input-label {
  position: absolute;
  top: -26px;
  left: 0;
}

.modal-form-label-check {
  display: flex;
  align-items: center;
}

.modal-form-label-check::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  outline: 1px solid #000;
  margin-right: 6px;
}

.modal-form-check:checked + .modal-form-label-check::before {
  background-color: blue;
  border: 4px solid #fff;
}

/* ========= HEADER ========= */
/* ========= END HEADER ========= */
.header {
  padding: 40px 0;
  background-color: #333;
}

.navigation-list-item-link,
.header-tel-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.389;
  letter-spacing: 0.1em;
  color: #303030;
}

.navigation-list-item-link:hover, .navigation-list-item-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: #ff6c00;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
  .header .logo-img {
    fill: #fff;
  }
  .burger-btn {
    position: relative;
    z-index: 1;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
  }
  .close-menu-icon {
    display: none;
  }
  .burger-btn.is-open .open-menu-icon {
    display: none;
  }
  .burger-btn.is-open .close-menu-icon {
    display: block;
  }
  .header-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 337px;
    height: 796px;
    padding-top: 118px;
    padding-bottom: 118px;
    padding-left: 40px;
    padding-right: 104px;
    background-color: #ffffff;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 500ms linear;
  }
  .header-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: unset;
  }
  .navigation-list-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .header-utils {
    margin-bottom: 64px;
  }
  .header-utils .address {
    margin-bottom: 24px;
  }
  .header-social-list-item {
    padding-left: 100px;
  }
  .header-social-list-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .header-social-list-item:first-child {
    position: relative;
  }
  .header-social-list-item:first-child::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    background-color: #303030;
  }
  .header-social-list-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.357;
    letter-spacing: 0.2em;
    color: #303030;
  }
  .navigation {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-social-list {
    display: none;
  }
  .header .container {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header .logo {
    margin-right: 64px;
  }
  .header-menu {
    display: flex;
    align-items: flex-start;
  }
  .header-utils {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 8px;
  }
  .navigation {
    margin-right: 47px;
    margin-top: 18px;
  }
  .navigation-list {
    display: flex;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 24px;
  }
  .navigation-list-item-link,
  .header-tel-link {
    font-size: 12px;
    line-height: 1.333;
    color: #fff;
  }
}

/* ========= HERO ========= */
.hero {
  max-width: 1280px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 1125px 680px;
}

.hero-left-side {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 40px;
  padding-left: 27px;
}

.hero-right-side {
  flex-grow: 1;
  padding-top: 272px;
  padding-left: 100px;
  padding-bottom: 206px;
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.181;
  letter-spacing: 0.05em;
  color: #fff;
  margin-bottom: 20px;
}

/* ========= END HERO ========= */
/* ================ ABOUT ================ */
.about-gallery {
  display: flex;
}

.about-gallery-item:not(:last-child) {
  margin-right: 30px;
}

.about-right-side {
  padding-left: 64px;
}

.about-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.857;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  padding-right: 56px;
}

/* ================ END ABOUT ================ */
/* ================ SERVICES ================ */
.services {
  background-color: #111319;
  background-image: url("../images/services/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.services-list-item-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.services-list-wrapper {
  display: flex;
  margin-bottom: 50px;
}

.services-list {
  width: 50%;
  padding: 30px 40px;
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services-list:nth-child(4n - 1), .services-list:nth-child(4n - 2) {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.services-list-item {
  display: flex;
  align-items: baseline;
}

.services-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.services-list-item-underline {
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin: 0 6px;
}

/* ================ END SERVICES ================ */
/* ================ ADVANTAGES ================ */
.advantages-left-side {
  display: flex;
  padding-left: 100px;
}

.advantages-list:first-child {
  margin-right: 30px;
}

.advantages-list:last-child {
  margin-top: 35px;
}

.advantages-list-item {
  width: 170px;
  background-color: #f7f7f7;
  text-align: center;
  padding: 20px 21px;
}

.advantages-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.advantages-list-item-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.357;
  letter-spacing: 0.05em;
  color: #303030;
}

.advantages-list-item-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  color: #303030;
}

.advantages-right-side {
  padding-left: 130px;
}

/* ================ END ADVANTAGES ================ */
/* ================ MASTERS ================ */
.masters {
  background-color: #f7f7f7;
}

.masters-list {
  display: flex;
}

.masters-list-item {
  width: calc((100% - 60px) / 3);
  text-align: center;
}

.masters-list-item:not(:last-child) {
  margin-right: 30px;
}

.masters-list-item-footer {
  padding-top: 30px;
  padding-left: 82px;
  padding-right: 82px;
}

.masters-list-item-name {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.389;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.masters-list-item-position {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.357;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.social-list {
  display: flex;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
}

.social-list-item-svg {
  width: 20px;
  height: 20px;
  transition: fill 250ms linear;
}

.social-list-item-link:hover .social-list-item-svg {
  fill: #ff6c00;
}

/* ================ END MASTERS ================ */
/* ================ GALLERY ================ */
.gallery-list {
  display: flex;
  justify-content: space-between;
}

/* ================ END GALLERY ================ */
/* ================ CONTACT FORM ================ */
.contact-wrapper {
  display: flex;
  background-color: #191c26;
}

.contact-form-section {
  width: 51.17%;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}

.contact-form {
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form-input,
.contact-form-message {
  font-family: " Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  color: #fff;
  margin-bottom: 44px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
}

.contact-form-input:focus,
.contact-form-message:focus {
  outline: none;
  border-bottom-color: #fff;
}

.contact-form-input:focus::placeholder,
.contact-form-message:focus::placeholder {
  color: #fff;
}

.contact-form-input::placeholder,
.contact-form-message::placeholder {
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.contact-form-input:not(:placeholder-shown),
.contact-form-message:not(:placeholder-shown) {
  border-bottom-color: #fff;
}

.contact-form-input {
  width: 270px;
  height: 24px;
}

.contact-form-input:required:focus:valid {
  border-bottom-color: green;
}

.contact-form-input:required:focus:invalid {
  border-bottom-color: red;
}

.contact-form-message {
  width: 100%;
  height: 76px;
  resize: none;
}

.contact-form-btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  width: 160px;
  min-height: 40px;
  padding: 12px 14px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  transition: all 250ms linear;
}

.contact-form-btn:hover, .contact-form-btn:focus {
  background-color: #ff6c00;
  color: #fff;
}

/* ================ END CONTACT FORM ================ */
/* ================ CONTACT ================ */
.contact {
  width: 48.83%;
  background-image: url("../images/contact/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  padding-left: 100px;
}

.contact-list {
  margin-bottom: 70px;
}

.contact-list-item {
  display: flex;
  align-items: center;
}

.contact-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-list-svg {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.contact-list-item:first-child .contact-list-svg {
  align-self: flex-start;
  margin-top: 6px;
}

.contact-list-link,
.contact-date {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* ================ END CONTACT ================ */
/* ================ FOOTER ================ */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

/* ================ END FOOTER ================ */
/* 
  -0 + 3 = 3;
  -1 + 3 = 2;
  -2 + 3 = 1;
  */
/* :not(:nth-last-child(-n + 3)) */
/*# sourceMappingURL=main.css.map */