/* ================ MASTERS ================ */
.masters {
  background-color: #f7f7f7;
}
.masters .title {
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  /* justify-content: space-between; */
}

.masters-list-item {
  width: calc((100% - 60px) / 3);
  text-align: center;
}

.masters-list-item-footer {
  padding-top: 30px;
  padding-left: 82px;
  padding-right: 82px;
}

.masters-list-item:not(:last-child) {
  margin-right: 30px;
}

.masters-list-item-name {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.389;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.masters-list-item-position {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.357;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.social-list {
  display: flex;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
}

.social-list-item-link:hover .social-list-item-svg {
  fill: var(--accent-color);
}

.social-list-item-svg {
  width: 20px;
  height: 20px;
  transition: fill 250ms linear;
}
/* ================ END MASTERS ================ */
