.description {
  font-weight: normal;
  font-size: $text-font-size;
  line-height: 1.667;
  letter-spacing: 0.02em;

  .about-right-side & {
    margin-bottom: 20px;
  }

  .advantages-right-side & {
    padding-right: 100px;
  }

  .hero & {
    width: 400px;
  }
}

.description-dark-theme {
  color: $text-color-dark-theme;
}

.description-light-theme {
  color: $text-color-light-theme;
}
