.title {
  font-family: $main-font;
  font-weight: bold;
  font-size: $title-font-size;
  line-height: 1.167;
  letter-spacing: 0.05em;

  .about-right-side &,
  .advantages-right-side & {
    margin-bottom: 20px;
  }

  .contact &,
  .contact-form-section & {
    margin-bottom: 40px;
  }

  .masters &,
  .services & {
    margin-bottom: 44px;
  }
}

.title-dark-theme {
  color: $title-color-dark-theme;
}

.title-light-theme {
  color: $title-color-light-theme;
}
